<h1>Home Spotify</h1>
<h2 class='username'></h2>
<article class='playlists'></article>
<script type='module'>
  const headers = new Headers()
  headers.append('Authorization', 'Bearer <%= accessToken %>')
  const meRequest = await fetch('<%= spotifyApiUrl %>/me', {
    headers,
  })
  const me = await meRequest.json()
  const playlistsRequest = await fetch(`<%= spotifyApiUrl %>/users/${me.id}/playlists`, {
    headers,
  })
  const playlists = await playlistsRequest.json()
  document.querySelector('.username').textContent = me.display_name
  document.querySelector('.playlists').innerHTML = '<strong>Playlist:</strong>' + playlists.items.map((playlist) => playlist.name).join(', ')
</script>
