<h1><%= title %></h1>
<h2 class='username'></h2>
<article class='playlists'></article>
<script type='module'>
  const meResource = <%- JSON.stringify(meResource) %>
  const playlistResources = <%- JSON.stringify(playlistResources) %>

  document.querySelector('.username').textContent = meResource.display_name
  document.querySelector('.playlists').innerHTML = '<strong>Playlist:</strong>' + playlistResources.items.map((playlist) => playlist.name).join(', ')
</script>
