<h1>Home Spa Twitch</h1>

<section id="user"></section>
<section id="channels"></section>

<script type="module">
  const authenticationStateRetriever = (key = 'state') => {
    let state = sessionStorage.getItem(key)
    if (!state) {
      state = Math.random().toString(36).substring(7)
      sessionStorage.setItem(key, state)
    }
    return state
  }
  const hashParamsParser = (queryKey = 'state') => {
    const hashParams = window.location.hash.replace('#', '')?.split('&')

    if (queryKey) {
      return hashParams
        ?.find((param) => param.startsWith(queryKey))
        ?.split('=')[1]
    }

    return hashParams
  }
  const cleanUrlHash = () => {
    history.replaceState({}, document.title, window.location.href.split('#')[0])
  }

  const queryAccessToken = hashParamsParser('access_token')
  const queryState = hashParamsParser('state')
  const state = authenticationStateRetriever('twitch_state')
  if (queryState !== state) {
    // store React/Vue setAccessToken(null)
    console.error(new Error('ERRO_STATE_MISMATCH'))
  }
  if (queryAccessToken) {
    // store React/Vue setAccessToken(queryAccessToken)
    cleanUrlHash()
  }

  const userProfileRequest = await fetch('<%= TWITCH_API_URL %>/users', {
    headers: {
      Authorization: `Bearer ${queryAccessToken}`,
      'Client-Id': '<%= TWITCH_CLIENT_ID %>',
      'Content-Type': 'application/json',
    },
  })
  const userProfile = await userProfileRequest.json()
  console.log(userProfile)
  document.getElementById('user').innerHTML = `
    <strong>${userProfile.data[0].display_name}</strong>
    <p>${userProfile.data[0].email}</p>
    <img src="${userProfile.data[0].profile_image_url}" alt="${userProfile.data[0].display_name}" />
  `
  const userChannelRequest = await fetch(
    `<%= TWITCH_API_URL %>/channels/followed?user_id=${userProfile.data[0].id}`,
    {
      headers: {
        Authorization: `Bearer ${queryAccessToken}`,
        'Client-Id': '<%= TWITCH_CLIENT_ID %>',
        'Content-Type': 'application/json',
      },
    }
  )
  const userChannel = await userChannelRequest.json()
  console.log(userChannel)
  document.getElementById('channels').innerHTML = `
    <h2>Channels</h2>
    <ul>
      ${userChannel.data
        .map(
          (channel) => `
          <li>
            <p>${channel.broadcaster_name}</p>
          </li>
        `
        )
        .join('')}
    </ul>
  `
</script>
